{% extends 'base.html' %}
{% set admin = admin %}

{% block title %}Mi cuenta{% endblock %}

{% block content %}
    <section class="py-5" style="--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;background: var(--bs-light);">
        <div class="container py-5" style="--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;font-family: Amaranth, sans-serif;">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 class="fw-bold" style="font-family: Amaranth, sans-serif;">Mi cuenta</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="padding-top: 30px;">
                            <form method="post">
                                <div class="mb-3"></div>
                                <div class="mb-3"></div>
                                <div class="mb-3">
                                    {% if user %}
                                    <p style="font-size: 20px;font-family: 'Be Vietnam Pro', sans-serif;">Bienvenido, {{ user }}</p>
                                    <a class="btn btn-primary shadow d-block w-100" role="button" href="/update-account" style="background: var(--bs-secondary);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;margin-bottom: 20px;">Modificar cuenta</a>
                                    <a class="btn btn-primary shadow d-block w-100" role="button" href="/logout" style="background: var(--bs-secondary);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;">Cerrar sesión</a>
                                    {% else %}
                                    <p style="font-size: 20px;font-family: 'Be Vietnam Pro', sans-serif;">Bienvenido</p>
                                    <a class="btn btn-primary shadow d-block w-100" role="button" href="/login" style="background: var(--bs-secondary);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;margin-bottom: 20px;">Iniciar sesión</a>
                                    <a class="btn btn-primary shadow d-block w-100" role="button" href="/register" style="background: var(--bs-secondary);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;margin-bottom: 20px;">Registrarme</a>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}