<!DOCTYPE html>
<html
  lang="en"
  style="
    --bs-primary: rgb(255, 173, 5);
    --bs-primary-rgb: 255, 173, 5;
    --bs-secondary: rgb(91, 140, 23);
    --bs-secondary-rgb: 91, 140, 23;
    --bs-light: rgb(245, 246, 248);
    --bs-light-rgb: 245, 246, 248;
    --bs-body-color: rgb(33, 2, 3);
    --bs-dark: rgb(116, 117, 114);
    --bs-dark-rgb: 116, 117, 114;
    font-family: Inter, sans-serif;
    background: var(--bs-black);
  "
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Be+Vietnam+Pro&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Carattere&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/Articles-Badges-images.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/Features-Cards-icons.css')}}"
    />
  </head>

  <body style="background: var(--bs-black)">
    <nav
      class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3"
      id="mainNav"
      style="background: var(--bs-black); border-style: none"
    >
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"
          ><span
            style="font-family: 'Abril Fatface', serif; color: var(--bs-orange)"
            >Ene</span
          ></a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul
            class="navbar-nav mx-auto"
            style="font-family: 'Be Vietnam Pro', sans-serif"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                href="/"
                {% if active_page == 'index' %} 
                style="color: var(--bs-white) "
                {% else %}
                style="color: var(--bs-gray-400) "
                {% endif %}"
                >Inicio</a
              >
            </li>
            {% if restaurant %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="products-admin.html"
                {% if active_page == 'products' %} 
                style="color: var(--bs-white) "
                {% else %}
                style="color: var(--bs-gray-400) "
                {% endif %}"
                >Productos</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="/restaurants"
                {% if active_page == 'restaurants' %} 
                style="color: var(--bs-white) "
                {% else %}
                style="color: var(--bs-gray-400) "
                {% endif %}"
                >Restaurantes</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="cart.html"
                {% if active_page == 'cart' %} 
                style="color: var(--bs-white) "
                {% else %}
                style="color: var(--bs-gray-400) "
                {% endif %}"
                >Carrito</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="orders.html"
                {% if active_page == 'orders' %} 
                style="color: var(--bs-white) "
                {% else %}
                style="color: var(--bs-gray-400) "
                {% endif %}"
                >Pedidos</a
              >
            </li>
            <li class="nav-item"></li>
          </ul>
          <a
            class="btn btn-primary shadow"
            role="button"
            href="/account"
            style="
              border-style: none;
              background: var(--bs-orange);
              font-family: 'Be Vietnam Pro', sans-serif;
            "
            >Mi cuenta</a
          >
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer
      class="bg-primary-gradient"
      style="padding-left: 0px; margin-left: 0px; background: transparent"
    ></footer>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}/"></script>
    <script src="{{url_for('static', filename='js/bs-init.js')}}"></script>
    <script src="{{url_for('static', filename='js/bold-and-bright.js')}}/"></script>
  </body>
</html>
