{% extends 'base.html' %}
{% set active_page = "index" %}
{% set restaurant = restaurant %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container py-5" style="border-radius: 50px;">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1 style="font-family: Amaranth, sans-serif;color: var(--bs-orange);">Carrito de compras</h1>
        </div>
    </div>
</div>
{% if error %}
<div class="row mb-4 mb-lg-5" style="text-align: center;padding-top: 100px;">
    <div class="mb-3">
        <p class="fw-bold text-success mb-2", style="color: var(--bs-orange) !important;font-family: 'Be Vietnam Pro', sans-serif;"">{{ error }}</p>
    </div>
</div>
{% endif %}
{% if cart %}
<form method="POST">
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column justify-content-xl-end align-items-xl-center" style="padding-top: 30px;">
                        <form class="justify-content-xl-center align-items-xl-center" method="post" style="padding-bottom: 20px;">
                            <div class="d-xl-flex justify-content-xl-center" style="padding-right: 50px;padding-left: 50px;">
                                <div class="mb-3"><label class="form-label">Restaurante</label>
                                    <input class="form-control" type="text" name="restaurant" placeholder="Restaurante" value="{{ cart.restaurant.name }}" style="margin-bottom: 20px;font-family: 'Be Vietnam Pro', sans-serif;" readonly>
                                    <label class="form-label">Número de mesa</label>
                                    <input class="form-control" type="text" name="table" placeholder="Número de mesa" style="margin-bottom: 20px;font-family: 'Be Vietnam Pro', sans-serif;">
                                    <label class="form-label">Cliente</label>
                                    <input class="form-control" type="text" name="client" value="{{ user.username }}" placeholder="Nombre del cliente" style="margin-bottom: 20px;font-family: 'Be Vietnam Pro', sans-serif;">
                                </div>
                            </div><button class="btn btn-primary" type="submit" style="background: var(--bs-orange);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;">Realizar pedido</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="margin-bottom: 100PX;">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table cart">
                                <thead>
                                    <tr>
                                        <th style="width: 500px;">PRODUCTO</th>
                                        <th>PRECIO</th>
                                        <th class="text-center">CANTIDAD</th>
                                        <th>TOTAL</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in cart['products'] %}
                                    <tr id="product-container">
                                        <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                            <div class="col-lg-2 col-xl-3"><img src="{{url_for('image', filename=product.image)}}" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                            <div class="col-lg-7 col-xl-8">
                                                <p>{{product.name}}</p>
                                                <h6 class="text-muted mb-2">{{product.description}}</h6>
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle;" id="price">${{product.price}}</td>
                                        <td style="vertical-align: middle;"><input type="number" name="quantity" value="{{product.quantity}}" placeholder="Cantidad" style="width: 140px;background-clip: padding-box;border: 1px solid #ced4da;border-radius: 1rem;padding: .6rem 1.5rem;" name="quantity" min="1"></td>
                                        <td style="vertical-align: middle;" id="unit-total">${{product.unit_total}}</td>
                                        <td style="vertical-align: middle;"><a href="{{url_for('remove_from_cart', id_product=product._id)}}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle-fill text-danger">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                        </svg></a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr id="product-container">
                                        <td class="vertical-align: middle;"></td>
                                        <td style="vertical-align: middle;"></td>
                                        <td style="vertical-align: middle;"></td>
                                        <td style="vertical-align: middle;" id="total">${{cart.total}}</td>
                                        <td style="vertical-align: middle;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <script>
        const quantityInputs = document.querySelectorAll('input[name="quantity"]')
        const productContainers = document.querySelectorAll('#product-container')
        
    quantityInputs.forEach((input, index) => {
        input.addEventListener('change', () => {
            const productId = productContainers[index].dataset.id
            const quantity = input.value
            const price = productContainers[index].querySelector('#price').innerHTML.substring(1)
            const unitTotal = productContainers[index].querySelector('#unit-total').innerHTML.substring(1)
            productContainers[index].querySelector('#unit-total').innerHTML = `$${parseFloat(quantity) * parseFloat(price)}`
            const total = document.querySelector('#total').innerHTML.substring(1)
            document.querySelector('#total').innerHTML = `$${parseFloat(total) - parseFloat(unitTotal) + parseFloat(quantity) * parseFloat(price)}`
        })
    })
</script>
{% endif %}
{% endblock %}