{% extends 'base.html' %}
{% set active_page = "index" %}
{% set admin = admin %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <header class="bg-primary-gradient" style="background: var(--bs-light);">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5" style="--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fw-bold" style="font-family: Carattere, serif;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;color: var(--bs-body-color);">Shalowm Healthy Desserts</h1>
                        <p style="font-family: 'Be Vietnam Pro', sans-serif;color: var(--bs-dark);">Repostería casera, saludable y vegana.<br>Alternativas sin azúcar, gluten ni grasas trans.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8" src="https://images.pexels.com/photos/4110538/pexels-photo-4110538.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2"></div>
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="https://images.pexels.com/photos/4110541/pexels-photo-4110541.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2"></div>
                        <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.25" src="https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}