{% extends 'base.html' %}
{% set active_page = "orders" %}
{% set admin = admin %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<div class="container py-5" style="border-radius: 50px;">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h1 style="font-family: Amaranth, sans-serif;color: var(--bs-body-color);">Historial de pedidos</h1>
        </div>
    </div>
{% if error %}
<div class="container py-5" style="border-radius: 50px;">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2", style="color: #c1292e !important;font-family: 'Be Vietnam Pro', sans-serif;"">{{error}}</p>
        </div>
    </div>
</div>
{% endif %}
</div>
{% if orders %}
{% for order in orders %}
<div class="container" id="order-container">
    <div class="row" style="margin-bottom: 50px;">
        <div class="col">
            <h2 style="font-family: Amaranth, sans-serif;color: var(--bs-body-color);">Pedido #{{order._id}}</h2>
            <div class="row">
                <div class="col d-xl-flex align-items-xl-center">
                    <p style="color: var(--bs-body-color);"><strong>Fecha:</strong> {{order.date.strftime('%Y-%m-%d')}}</p>
                </div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <p style="color: var(--bs-body-color);"><strong>Total: </strong>${{order.total}}</p>
                </div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <p style="color: var(--bs-body-color);"><strong>Cliente: </strong>{{order.client.username}}</p>
                </div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <p style="color: var(--bs-body-color);"><strong>Contacto: </strong>{{order.client.phone}}</p>
                </div>
                {% if order.canceled%}
                <div class="col d-xl-flex justify-content-xl-end align-items-xl-end">
                    <p style="color: var(--bs-body-color);text-align: end;"><strong>Cancelado</strong></p>
                </div>
                {% else %}
                <div class="col d-xl-flex justify-content-xl-end">
                    <a class="btn btn-primary shadow" role="button" href="{{url_for('delivered_order', id_order=order._id)}}" style="border-style: none;background: var(--bs-body-color);font-family: 'Be Vietnam Pro', sans-serif;">{% if not order.delivered %} Realizar entrega {% else %} Deshacer entrega {% endif %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card" style="margin-bottom: 100PX;">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 500px;">PRODUCTO</th>
                            <th>PRECIO</th>
                            <th>CANTIDAD</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order.products %}
                        <tr id="product-container">
                            <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                <div class="col-lg-2 col-xl-3"><img src="{{url_for('image', filename=product.image)}}" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                <div class="col-lg-7 col-xl-8">
                                    <p>{{product.name}}</p>
                                    <h6 class="text-muted mb-2">{{ product.description }}</h6>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">${{product.price}}</td>
                            <td style="vertical-align: middle;">{{ product.quantity }}</td>
                            <td style="vertical-align: middle;">${{product.unit_total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}