{% extends 'base.html' %}
{% set active_page = "index" %}
{% set restaurant = restaurant %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container py-5" style="border-radius: 50px;">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 style="font-family: Amaranth, sans-serif;color: var(--bs-orange);">Historial de pedidos</h1>
            </div>
        </div>
    </div>
    <div class="container" id="order-container">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col">
                <h2 style="font-family: Amaranth, sans-serif;color: var(--bs-white);">Pedido #1</h2>
                <div class="row">
                    <div class="col d-xl-flex align-items-xl-center" style="color: var(--bs-white);">
                        <p><strong>Fecha:</strong> 2020-10-01</p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <p><strong>Total: $0.00</strong></p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-end"><a class="btn btn-primary shadow" role="button" href="account.html" style="border-style: none;background: var(--bs-orange);font-family: 'Be Vietnam Pro', sans-serif;">Cancelar pedido</a></div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 100PX;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 500px;">PRODUCTO</th>
                                <th>PRECIO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="product-container">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                            <tr id="product-container-1">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="order-container-1">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col">
                <h2 style="font-family: Amaranth, sans-serif;color: var(--bs-white);">Pedido #1</h2>
                <div class="row">
                    <div class="col d-xl-flex align-items-xl-center" style="color: var(--bs-white);">
                        <p><strong>Fecha:</strong> 2020-10-01</p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <p><strong>Total: $0.00</strong></p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-end"><a class="btn btn-primary shadow" role="button" href="account.html" style="border-style: none;background: var(--bs-orange);font-family: 'Be Vietnam Pro', sans-serif;">Ver estado del pedido</a></div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 100PX;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 500px;">PRODUCTO</th>
                                <th>PRECIO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="product-container-2">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                            <tr id="product-container-3">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="order-container-2">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col">
                <h2 style="font-family: Amaranth, sans-serif;color: var(--bs-white);">Pedido #1</h2>
                <div class="row">
                    <div class="col d-xl-flex align-items-xl-center" style="color: var(--bs-white);">
                        <p><strong>Fecha:</strong> 2020-10-01</p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <p><strong>Total: $0.00</strong></p>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-end">
                        <p style="color: var(--bs-orange);"><strong>Entregado</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 100PX;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 500px;">PRODUCTO</th>
                                <th>PRECIO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="product-container-4">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                            <tr id="product-container-5">
                                <td class="d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center">
                                    <div class="col-lg-2 col-xl-3"><img src="assets/img/products/1.jpg" width="100" style="border-radius: 10%;width: 80px;height: 80px;"></div>
                                    <div class="col-lg-7 col-xl-8">
                                        <p>Nombre del producto</p>
                                        <h6 class="text-muted mb-2">Descripción del producto</h6>
                                    </div>
                                </td>
                                <td style="vertical-align: middle;">$0.00</td>
                                <td style="vertical-align: middle;">1</td>
                                <td style="vertical-align: middle;">$0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}