{% extends 'base.html' %}
{% set active_page = "restaurants" %}
{% set restaurant = restaurant %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container py-5" style="border-radius: 50px;margin-bottom: 100px;">
        <div class="row d-xl-flex justify-content-xl-start mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-2 text-center d-xl-flex mx-auto justify-content-xl-center align-items-xl-center"><img src="{{url_for('image', filename=rest.logo)}}" width="100" style="border-radius: 20%;width: 150px;height: 150px;"></div>
            <div class="col-md-8 col-xl-9 text-center d-flex flex-column justify-content-start align-items-start align-content-start mx-auto" style="text-align: left;">
                <div class="row">
                    <div class="col-xl-12 d-flex flex-row justify-content-center align-items-center justify-content-xl-start align-items-xl-start" style="width: 700px;">
                        <h1 class="d-xl-flex flex-column align-items-center align-self-center justify-content-xl-center align-items-xl-start" style="font-family: Amaranth, sans-serif;color: var(--bs-orange);text-align: left;">{{ rest.name }}</h1>
                        <span class="badge bg-light align-items-center align-self-center" style="background: var(--bs-badge-color);color: var(--bs-orange);margin-left: 20px;">{{ rest.category }}</span>
                    </div>
                </div>
                <p style="color: var(--bs-white);">{{ rest.description }}</p>
                <p style="color: var(--bs-white);font-style: italic;">{{ rest.address }}</p>
                <div class="row">
                    <div class="col-xl-12 d-flex align-items-end" style="height: 60px;"><input type="number" placeholder="Nombre del producto" style="width: 250px;border: 1px solid #ced4da;border-radius: 1rem;padding: .6rem 1.5rem;text-align: left;background: var(--bs-light);" name="portion"><a class="btn btn-primary shadow" role="button" href="account.html" style="border-style: none;background: var(--bs-orange);font-family: 'Be Vietnam Pro', sans-serif;margin-left: 50px;">Buscar</a></div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container d-xl-flex justify-content-evenly flex-wrap align-items-xl-center">
        {% if products %}
        {% for product in products %}
        <div class="row" style="width: 400px;margin-bottom: 100px;">
            <div class="col">
                <div class="card">
                    <div class="card-body" style="padding-top: 100px;"><img class="d-lg-flex" style="border-radius: 50%;width: 150px;height: 150px;box-shadow: 0px 10px 20px 4px var(--bs-gray-500);position: absolute;top: -50px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);" src="{{url_for('image', filename=product.image)}}">
                        <h4 class="card-title" style="font-family: Amaranth, sans-serif;text-align: center;padding-top: 30px;">Nombre del producto</h4>
                        <p class="card-text">{{product.description}}</p>
                        <div class="row">
                            <div class="col-lg-4 col-xl-4 d-xl-flex align-items-xl-center" style="text-align: left;">
                                <h4 style="font-family: Amaranth, sans-serif;">${{product.price}}</h4>
                            </div>
                            <div class="col d-xl-flex justify-content-xl-end"><button class="btn btn-primary d-xl-flex" type="button" style="border-style: none;background: #000000;font-family: 'Be Vietnam Pro', sans-serif;">Agregar al carrito</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row mb-4 mb-lg-5" style="text-align: center;padding-top: 100px;">
            <div class="mb-3">
                <p class="fw-bold text-success mb-2", style="color: var(--bs-orange) !important;font-family: 'Be Vietnam Pro', sans-serif;"">No se encontraron productos ;(</p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}