{% extends 'base.html' %}
{% set active_page = "index" %}
{% set restaurant = restaurant %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <section class="py-5" style="--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;background: transparent;">
        <div class="container py-5" style="--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;font-family: Amaranth, sans-serif;">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2"></p>
                    <h1 class="fw-bold" style="font-family: Amaranth, sans-serif;color: var(--bs-orange);">Edita tu cuenta</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="padding-top: 30px;">
                            <form method="post">
                                <div class="mb-3">
                                    <label class="form-label" style="color: var(--bs-black);font-family: 'Be Vietnam Pro', sans-serif;">Nombre de usuario</label>
                                    <input class="form-control"  value="{{ user.username }}" name="username" type="text" placeholder="Nombre de usuario" style="margin-bottom: 20px;font-family: 'Be Vietnam Pro', sans-serif;" required>
                                    <label class="form-label" style="color: var(--bs-black);font-family: 'Be Vietnam Pro', sans-serif;">Correo electrónico</label>
                                    <input class="form-control" value="{{ user.email }}" type="text" name="email" placeholder="Correo electrónico" style="margin-bottom: 20px;font-family: 'Be Vietnam Pro', sans-serif;" required>
                                    <label class="form-label" style="color: var(--bs-black);font-family: 'Be Vietnam Pro', sans-serif;">Contraseña</label>
                                    <input class="form-control" value="{{ user.password }}" type="password" name="password" placeholder="Contraseña" style="margin-bottom: 30px;font-family: 'Be Vietnam Pro', sans-serif;" required>
                                </div>
                                    <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit" style="background: var(--bs-orange);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;">Editar cuenta</button></div>
                                {% if error %}
                                <div class="mb-3">
                                    <p class="fw-bold text-success mb-2", style="color: #c1292e !important;font-family: 'Be Vietnam Pro', sans-serif;"">{{ error }}</p>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}